<%page expression_filter="h"/>
<%inherit file="../track_selection.html" />
<%!
from django.utils.translation import ugettext as _
from openedx.core.djangolib.markup import HTML, Text
%>
<%block name="track_selection_certificate_bullets">
<div class="choice-bullets track-selection-type-full-fbe">
    <ul>
        <li>${Text(_("Showcase a {link_start}verified certificate{link_end} of completion on your resumé to advance your career")).format(
            link_start=HTML('<b><u><a class="verified" href="https://www.edx.org/verified-certificate" target="_blank">'),
            link_end=HTML('</a></u></b>'),
        )}</li>
        <li>${Text(_("Get {start_bold}access to all course activities{end_bold}, including both graded and non-graded assignments, while the course is running")).format(
            start_bold=HTML('<b>'),
            end_bold=HTML('</b>'),
        )}</li>
        <button class="btn btn-link collapsible">${_("Show more")}</button>
        <li class="collapsible-item">
            ${Text(_("{start_bold}Full access{end_bold} to course content and materials, even after the course ends")).format(
                start_bold=HTML('<b>'),
                end_bold=HTML('</b>'),
            )}
            <span class="popover-icon">
                <i class="fa fa-question-circle" aria-hidden="true"></i>
                <span class="popover">
                    ${Text(_("{link_start}Learn more{link_end} about course access")).format(
                        link_start=HTML('<u><a href="https://support.edx.org/hc/en-us/articles/360013426573-What-are-the-differences-between-audit-free-and-verified-paid-courses-" target="_blank">'),
                        link_end=HTML('</a></u>'),
                    )}
                </span>
            </span>
        </li>
        <li class="collapsible-item">${Text(_("Support our {start_bold}non-profit mission{end_bold} to increase access to high-quality education for everyone, everywhere")).format(
            start_bold=HTML('<b>'),
            end_bold=HTML('</b>'),
        )}</li>
    </ul>
</div>
</%block>

<%block name="track_selection_audit_bullets">
<div class="choice-bullets track-selection-type-full-fbe">
    <ul>
        <li>${Text(_("Get temporary access to  {start_bold}non-graded{end_bold} activities, including discussion forums and non-graded assignments")).format(
            start_bold=HTML('<b>'),
            end_bold=HTML('</b>'),
        )}</li>
        <li>${Text(_("Get {start_bold}temporary access{end_bold} to the course material, including videos and readings")).format(
            start_bold=HTML('<b>'),
            end_bold=HTML('</b>'),
        )}</li>
        % if audit_access_deadline:
        <li>${_("Access expires and all progress will be lost on")} ${audit_access_deadline}</li>
        % else:
        <li>${_("Access expires and all progress will be lost")}</li>
        % endif
    </ul>
</div>
</%block>
